* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    margin: 20px;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(84, 9, 121, 0.8326681014202556) 35%, rgba(0, 212, 255, 1) 100%);
}

#resultado {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 25px 10px;
}

footer {
    margin-left: 85px;
    font-size: 18px;
    text-decoration: solid;
}

@media(max-width:1440px) {
    #resultado {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap: 25px 10px;

    }
}

@media(max-width:900px){
    #resultado{
        display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    gap:30px 30px;

    }
}
@media(max-width:614px){
    #resultado{
        display:grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows:auto;
    gap:25px 10px;

    }
}